<div class="container" id="symbol-select-container">
  <div class="row">
    <form class="d-flex symbol-select" action="" id="symbol-select">
      <input type="hidden" name="Appio (AAPI)" value="BINANCE:DASHUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit"><img src="./images/appio.png"
                                                                                alt="Appio"
                                                                                class="img-fluid">Appio</button>
    </form>
    <form class="d-flex symbol-select" action="" id="symbol-select1">
      <input type="hidden" name="Teslo (TSLO)" value="BINANCE:ZECUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit"><img src="./images/teslo.png"
                                                                                alt="Teslo" class="img-fluid">Teslo</button>
    </form>
    <form class="d-flex symbol-select" action="" id="symbol-select2">
      <input type="hidden" name="MicroNoft (MNFT)" value="BINANCE:ETHUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit"><img src="
      ./images/micronoft.png" alt="Micronoft" class="img-fluid">MicroNoft</button>
    </form>
    <form class="d-flex symbol-select" action="" id="symbol-select3">
      <input type="hidden" name="Cesco (CESC)" value="BINANCE:YFIIUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit"><img src="./images/cesco.png"
                                                                                alt="Cesco" class="img-fluid">Cesco</button>
    </form>
  </div>
  <div class="row">
    <form class="d-flex symbol-select" action="" id="symbol-select4">
      <input type="hidden" name="Starbocks (STBO)" value="BINANCE:MKRUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Starbocks</button>
    </form>
    <form class="d-flex symbol-select" action="" id="symbol-select5">
      <input type="hidden" name="Imtel (IMTL)" value="BINANCE:BNBUPUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Imtel</button>
    </form>
    <form class="d-flex symbol-select" action="" id="symbol-select6">
      <input type="hidden" name="Paypol (PPOL)" value="BINANCE:BCHUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Paypol</button>
    </form>
    <form class="d-flex symbol-select" action="" id="symbol-select7">
      <input type="hidden" name="NVIDIO (NVDO)" value="BINANCE:BNBUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">NVIDIO</button>
    </form>
  </div>
  <div class="row">
    <form class="d-flex symbol-select" action="" id="symbol-select8">
      <input type="hidden" name="Netfulix (NTFU)" value="BINANCE:COMPUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Netfulix</button>
    </form>
    <form class="d-flex symbol-select" action="" id="symbol-select9">
      <input type="hidden" name="Gogle (GOG)" value="BINANCE:KSMUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Gogle</button>
    </form>
    <form class="d-flex symbol-select" action="" id="symbol-select10">
      <input type="hidden" name="Evilcorp (EVIL)" value="BINANCE:AAVEUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Evilcorp</button>
    </form>
    <form class="d-flex symbol-select" action="" id="symbol-select11">
      <input type="hidden" name="Dynatronix (DNTX)" value="BINANCE:XMRUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Dynatronix</button>
    </form>
  </div>

</div>